<html>
<body>
  <h1>AHORCADO</h1>
  <form action="/jugar">
    <h2>Ingrese el nombre del jugador</h2>
    <input type="text" name="usuario"/>
    <input type="submit" value="jugar"/>
  </form>
</body>
</html>
